<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="row">
    @using (Html.BeginForm("AddEndereco", "User", FormMethod.Post))
    {
        <h4>Novo Endereço</h4>
        <dl class="col-lg-offset-1">
            <dt>Descrição</dt>
            <dd><input class="form-control" type="text" name="descricao" required /></dd>
            <dt>Logradouro</dt>
            <dd><input class="form-control" type="text" name="logradouro" required /></dd>
            <dt>CEP</dt>
            <dd><input class="form-control" type="text" name="cep" required /></dd>
            <dt>Bairro</dt>
            <dd><input class="form-control" type="text" name="bairro" required /></dd>
            <dt>Numero</dt>
            <dd><input class="form-control" type="text" name="numero" required /></dd>
            <dt>Complemento</dt>
            <dd><input class="form-control" type="text" name="complemento" required /></dd>
            <dt>Cidade</dt>
            <dd><input class="form-control" type="text" name="cidade" required /></dd>
            <dt>Estado</dt>
            <dd><input class="form-control" type="text" name="estado" required /></dd>
            <dt>Pais</dt>
            <dd><input class="form-control" type="text" name="pais" required /></dd>
        </dl>
        <div class="row col-lg-offset-1">
            <button class="btn btn-sm"><span class="glyphicon glyphicon-save"></span> Salvar</button>
        </div>

    }

